In [ ]:
my_series.plot()

# OLD

In [ ]:
serie_acoes = pd.Series(['Vale do Rio Doce', 'Petrobras', 'Usiminas'])
serie_acoes

O índices são apresentados na coluna esquerda e os dados são mostrados na coluna direita. Nesse caso específico, como não definimos quais índices serão associados a cada dado, são utilizados valores inteiros, de 0 à N, para representar os índices. Porém, poderíamos definir os índices explicitamente.

No exemplo abaixo, os índices são *VALE3*, *PETR4* e *USIM5*. Eles foram explicitamente definidos.

In [ ]:
serie_acoes = pd.Series(['Vale do Rio Doce', 'Petrobras', 'Usiminas'],index=['VALE3','PETR4','USIM5'])
serie_acoes

Para acessar os valores dos dados, utilizamos:

In [ ]:
serie_acoes.values

Para acessar os valores dos índices, utilizamos:

In [ ]:
serie_acoes.index

Tanto o objeto Series quanto os seus índices possuem um atributo chamado ``name``:

In [ ]:
serie_acoes.name = 'Ações'
serie_acoes.index.name = 'Símbolo'
serie_acoes

É possível forçar a mudança dos índices por meio de atribuição:

In [ ]:
serie_acoes.index = ['Idx1','Idx2','Idx3']
serie_acoes

#### Operações básicas com Series
A seguir, apresentamos algumas operações básicas que podem ser realizadas utilizando Series.

##### Acessando dados

In [ ]:
serie_acoes['PETR4']

In [ ]:
serie_acoes[['VALE3','PETR4']]

In [ ]:
### Transformando dicionário em Series
Para transformar um dicionário em uma série é bastante simples.

In [ ]:
# criando o dicionário
dict_bolsa = {'VALE3': 42, 'PETR4': 16, 'USMI5': 5}
print(dict_bolsa)

In [ ]:
# transformando o dicionário em Series
series_bolsa = pd.Series(dict_bolsa)
print(series_bolsa)

Se durante a conversão de dicionário para Series utilizarmos índices que não tenham correspondência, o valor do índice ficará vazio na Série (veja o caso do índice ``BBAS3``). Se, por outro lado, utilizarmos um índice mais de uma vez duante a conversão, o valor associado ao índice aparecerá diversas mais de uma vez na Série (veja o caso de ``PETR4``).

In [ ]:
# criando o dicionário
dict_bolsa = {'VALE3': 42, 'PETR4': 16, 'USMI5': 5}
series_bolsa = pd.Series(dict_bolsa,index=['PETR4','VALE3', 'PETR4', 'BBAS3', 'USIM5'])
print(series_bolsa)

O símbolo ``NaN`` indica que o valor está faltando para ``BBAS``. A função ``isnull`` (retorna True se estiver faltando e False, caso contrário) ou ``notnul`` (retorna False se estiver faltando e True, caso contrário) podem ser utilizadas para saber quais são os valores faltando na Serie ou em um Data Frame. Mais adiante discutiremos como tratar com dados ausentes.

In [ ]:
pd.isnull(series_bolsa)

In [ ]:
pd.notnull(series_bolsa)

Vamos agora criar duas séries. Se somarmos as duas, os valores com índices iguais serão somados. Caso uma das séries contenha um valor ``NaN`` associado a um determinado índice (``USIM5``, na ``serie_bolsa1`` e ``BBAS3`` na ``serie_bolsa2``), o resultado da soma para esse índice será ``NaN``. O mesmo acontecerá se o índice não tiver um índice correspondente para ser somado na outra série (``BBAS3``, na ``serie_bolsa2`` não tem um correspondente na ``serie_bolsa1``).

In [ ]:
# criação e impressão da série 1 (USIM5 não terá valor)
dict_bolsa1 = {'VALE3': 42, 'PETR4': 16}
series_bolsa1 = pd.Series(dict_bolsa1,index=['PETR4','VALE3', 'USIM5'])
print('series_bolsa1')
print(series_bolsa1)

# criação e impressão da série 2 (BBAS3 não terá valor)
dict_bolsa2 = {'VALE3': 50, 'PETR4': 20, 'USIM5': 8}
series_bolsa2 = pd.Series(dict_bolsa2,index=['PETR4','VALE3', 'USIM5','BBAS3'])
print('series_bolsa2')
print(series_bolsa2)

# cálculo do preço médio das ações 
# USIM5 retornará NaN, pois não tem um valor correspondente na série 1
# BBAS3 retornará NaN, pois seu valor é NaN na série 2
preco_medio = (series_bolsa1 + series_bolsa2)/2
print('preco_medio')
print(preco_medio)

Para saber mais sobre ``Series``, acesse a documentação do Pandas em: 

https://pandas.pydata.org/pandas-docs/stable/reference/series.html

### DataFrame

Um DataFrame é uma estrutura de dados similar a uma planilha, com linhas e colunas indexadas. Cada coluna é ordenada e pode conter armazena valores de um determinado tipo. Vamos retornar ao arquivo com as cotações da Petrobras.

In [ ]:
import pandas as pd
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao)
petr4.head()

*Obs:* todas as colunas devem ter tamanhos iguais.

Pode-se pensar em um DataFrame como um Dicionário de Series.

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data)
petr4

É possível selecionar um subconjunto das colunas e apresentá-las na ordem desejada:

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data, columns=['Abertura','Último','Data'])
petr4

Caso seja selecionada para apresentação uma coluna inexistente, os valores para essa coluna serão todos nulos (NaN):

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data, columns=['Data','Abertura','Último','Percentual'])
petr4

Assim como fizemos com a Series, podemos modificar os nomes dos índices:

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4_data, index=['Primeiro','Segundo','Terceiro','Quarto'])
petr4

Se desejarmos atribuir um nome a aos índices ou colunas, basta utilizar o atributo ``name``

In [ ]:
# atribuindo o nome às colunas
petr4.columns.name = 'Cabeçalho'

# atribuindo o nome aos índices
petr4.index.name = 'Índices'

petr4

Os valores de uma coluna podem ser acessados utilizando a notação de Series ou a notação de atributos:

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4_data, index=['Primeiro','Segundo','Terceiro','Quarto'])

# acessando com notação de uma série
petr4['Último']

In [ ]:
# acessando com notação de atributo
petr4.Último

É possível acessar os dados em uma linha utilizando o método ``loc`` para índices rotulados ou ``iloc`` para índices posicionais:

In [ ]:
# índice rotulado
petr4.loc['Segundo']

In [ ]:
# índice posicional
petr4.iloc[1]

Para acessar apenas os valores, podemos usar o atributo ``values``, que retorna os dados em forma de array bidimensional:

In [ ]:
petr4.values

Colunas podem ser modificadas por meio de atribuição de um valor escalar ou uma lista com tamanho igual ao do DataFrame:

In [ ]:
# atribuindo valor escalar
petr4['Último'] = 17.55
petr4

In [ ]:
# atribuindo array
petr4['Último'] = [17.55, 16.67, 14.00, 15.78]
petr4

Utiliza-se o método `isin` para testar se um conjunto de valores pertence ao DataFrame.

In [ ]:
petr4.isin([15.77, 14.00])

Também é possível atribuir uma Series a uma coluna de um DataFrame. Nesse, caso, porém, o tamanho da Series pode ser menor, havendo um casamento exato com os índices do DataFrame, deixando os demais índices sem valor (NaN):

In [ ]:
petr4['Último'] = pd.Series([15.10, 14.90], index=['Primeiro', 'Terceiro'])
petr4

Realizar uma atribuição a uma coluna que não existe, cria um nova coluna:

In [ ]:
petr4_data = { 'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
               'Último':[16.66, 15.77, 15.34, 15.51],
               'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4,index=['Primeiro','Segundo','Terceiro','Quarto'])

# Criará a coluna Máxima
petr4['Máxima'] = [18.20, 17.84, 16.71, 17.78]
petr4

Assim como ocorre com um dicionário, ``del`` pode ser usado para remover uma coluna:

In [ ]:
del petr4['Máxima']
petr4

Se passarmos um dicionário aninhado para um DataFrame, as chaves externas serão interpretadas como colunas e as chaves internas como índices das linhas.

In [ ]:
petr4 = {   'Data':{'Primeiro':'07.04.2020', 'Segundo':'06.04.2020', 'Terceiro:':'03.05.2020'},
            'Último':{'Primeiro':16.66, 'Segundo':15.77},
            'Abertura':{'Primeiro':15.77, 'Segundo':16.05, 'Terceiro:':16.30}}
petr4 = pd.DataFrame(petr4)
petr4

Observe que a quantidade de elementos em cada dicionário interno pode ser diferente. Por exemplo, no código acima, a coluna ``Último`` não possui valor para o índice ``Terceiro``.

Para obter a matriz transposta, deve-se utilizar o atributo ``T``:

In [ ]:
petr4.T

A tabela a seguir apresenta a relação completa de tipos de dados que podem ser passados para o ``construtor`` DataFrame:

 
 | Tipo | Descrição |
 |------|:-----------|
 | **2D array** | *Uma matriz de dados, sendo opcional passar o rótulo das linhas e colunas.*|
 | **Lista de listas ou tuplas** | *Uma matriz de dados, sendo opcional passar o rótulo das linhas e colunas.*|
 | **Dicionário de arrays,  listas ou tuplas** | *Cada sequência se torna uma coluna no DataFrame. Todas as sequências devem ter o mesmo tamanho.*|
 | **Dicionário de Serie** | *Cada ``valor`` se torna uma ``coluna`` do DataFrame. Se nenhum índice for passado, as chaves posicionais dos elementos das Series para formar o índice do das linhas.*|
 | **Dicionário de Dicionários** | *Cada ``Dicionário interno`` se torna uma ``coluna`` do DataFrame. As chaves são unidas para formar o índice do das linhas.*|
 | **Lista de Dicionário ou Series** | *Cada item se torna uma ``linha`` do DataFrame. As chaves dos Dicionários ou os índices das Series se tornam o rótulo das ``colunas`` do DataFrame.*|

---



Para saber mais sobre ``DataFrame``, acesse a documentação do Pandas em:

https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

## Objeto Index

Todo array ou outra sequência de rótulos usada para construir uma Serie ou DataFrame é convertido internamente em um Objeto Index.

In [ ]:
# criação da Series 
acoes = pd.Series([21.52, 52.34, 7.23],index=['PETR4','VALE3', 'USIM5'])
# acessando o objeto Index
acoes.index

In [ ]:
# acessando elementos do objeto Index
acoes.index[1:]

Os objeto Index é imutável e não pode ser modificado, pode apenas ser substituído completamente.

In [ ]:
# tentando modificar o objeto Index
acoes.index[1] = 'BBAS3'

In [ ]:
acoes1 = pd.Series([21.52, 52.34, 7.23, 20.32],index=['PETR4','VALE3', 'USIM5', 'LAME4'])
acoes2 = pd.Series([22.34, 51.33, 45.32],index=['PETR4','VALE3', 'BBAS3'])
acoes1.index ^ acoes2.index

Objetos Index possuem um conjunto de métodos, conforme resumido na tabela a seguir. Considere essas duas Series para os exemplos apresentados na tabela:
```python
acoes1 = pd.Series([21.52, 52.34, 7.23, 20.32],index=['PETR4','VALE3', 'USIM5', 'LAME4'])
acoes2 = pd.Series([22.34, 51.33, 45.32],index=['PETR4','VALE3', 'BBAS3'])
```

| Método | Descrição |
|--------|:-----------|
| **append** | Concatena dois objetos Index, produzindo um novo objeto Index. Ex: acoes1.index.append(acoes2.index) |
| **difference** | Computa o conjunto contendo todos os objetos do 1o objeto Index que não possuem correspondência no 2o objeto Index.  Ex: acoes1.index.difference(acoes2.index) |
| **^** | É a diferença simétrica. Computa o conjunto contendo todos os objetos do 1o objeto Index que não possuem correspondência no 2o objeto Index e vice-versa.  Ex: acoes1.index ^ acoes2.index |
| **intersection** | Computa o conjunto interseção entre dois objetos Index. Ex: acoes1.index.intersection(acoes2.index) |
| **&** | Computa o conjunto interseção entre dois objetos Index. Ex: acoes1.index & acoes2.index |
| **union** | Computa o conjunto união entre dois objetos Index. Ex: acoes1.index.union(acoes2.index) |
| **|** | Computa o conjunto união entre dois objetos Index. Ex: acoes1.index | acoes2.index |
| **isin** | Verifica se um conjunto de valores pertencem ao objeto Index. Ex: acoes.isin([14.66, 52.34]) |
| **delete** | Cria uma novo objeto Index sem o elemento com índice `i`. Ex: acoes.index.delete(1)|
| **drop** | Cria uma novo objeto Index sem os elemento passados como parâmetro. Ex:acoes1.drop(['VALE3', 'USIM5'])|
| **insert** | Cria uma novo objeto Index com um novo elemento `val` na posição `i`. Ex: acoes.index.insert(1,'BBAS3') |
| **ismonotonic** | Retorna True se cada elemento é maior ou igual ao elemento anterior. Ex: acoes2.is_monotonic |
| **is_unique** | Retorna True se o índice não possue nenhum valor duplicado. Ex: acoes1.is_unique |
| **unique** | Cria um array com todos os elementos não duplicados no índice. Ex: acoes1.unique |

In [ ]:
savings = 800
tax = 0.08
time = 24
profit = savings * tax * 24
print('profit: ' + str(profit))
print('Total: ' + str(profit+savings))