<a href="https://colab.research.google.com/github/filipecalegario/intro-programacao-python/blob/main/08_Tuplas_Dicionarios/Tuplas_preenchido_24_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuplas

Tuplas são similares a listas. Ou seja, elas servem para armazenar uma coleção de objetos. Porém, diferente das listas, as tuplas são imutáveis, não permitindo modificar os valores armazenados. Uma consequência dessa propriedade é que muitas das funções disponíveis para listas não podem ser aplicadas em tuplas.

O uso de tuplas é recomendado em situações em que existe uma garantia de que os dados armazenados não serão modificados.

Para definir uma tupla, utiliza-se um conjunto de objetos entre parênteses (opcional, mas recomendado) e separados por vírgula.

In [5]:
presidentes_BR_sec_XIX = ('Deodoro da Fonseca', 'Floriano Peixoto','Prudente de Morais','Campos Sales')
print(f'O Brasil teve {len(presidentes_BR_sec_XIX)} presidentes no século XIX.')
print(f'O primeiro presidente do Brasil foi {presidentes_BR_sec_XIX[0]}.')
print(f'A relação completa de presidentes do século XIX é a seguinte:')
for presidente in presidentes_BR_sec_XIX:
  print(f'- {presidente}')

O Brasil teve 4 presidentes no século XIX.
O primeiro presidente do Brasil foi Deodoro da Fonseca.
A relação completa de presidentes do século XIX é a seguinte:
- Deodoro da Fonseca
- Floriano Peixoto
- Prudente de Morais
- Campos Sales

In [6]:
presidentes_BR_sec_XIX.remove('Campos Sales')

AttributeError: 'tuple' object has no attribute 'remove'

In [7]:
dir(presidentes_BR_sec_XIX)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [8]:
minha_lista = [1, 2, 3, 35, 25]
dir(minha_lista)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

Uma **tupla vazia** pode ser escrita com um par de parênteses  `tupla_vazia = ()`.

Porém, é preciso ter cuidado para criar uma tupla com um elemento apenas. Se tentarmos colocar um elemento entre parênteses apenas `tupla_um_elemento = (2)`, Python vai entender que estamos criando uma expressão. O resultado será o inteiro `2`.

In [10]:
minha_tupla = ()
print(minha_tupla)
print(type(minha_tupla))

()
<class 'tuple'>

In [11]:
minha_tupla = (2)
print(minha_tupla)
print(type(minha_tupla))

2
<class 'int'>

Para evitar isso, temos que colocar uma vírgula após o **único** elemento da tupla `tupla_um_elemento = (2,)`.

In [12]:
minha_tupla = (2,)
print(minha_tupla)
print(type(minha_tupla))

(2,)
<class 'tuple'>

In [13]:
len(minha_tupla)

1

In [15]:
copas_brasil = (1958, 1962, 1970, 1994, 2002)

In [18]:
tuple(sorted(copas_brasil, reverse=True))

(2002, 1994, 1970, 1962, 1958)

In [19]:
copas_brasil[6] = 2022

TypeError: 'tuple' object does not support item assignment

In [26]:
(3, 10, 1) < (5, 1, 2)

True

In [29]:
t1 = (3, 10, 1)
t2 = (5, 1, 2)

comparacoes = []  # Lista vazia para armazenar os resultados
zipped = zip(t1, t2)

for a, b in zip(t1, t2):
    comparacoes.append(a < b)  # Adiciona o resultado da comparação na lista

print(comparacoes)  # Saída: [True, False, True]
print(list(zipped))

[True, False, True]
[(3, 5), (10, 1), (1, 2)]