# Pandas

Pandas é biblioteca construída a partir de NumPy para prover uma implementação eficiente de uma estrutrura de dados conhecida como DataFrame. FALAR MAIS SOBRE PANDAS...


<img  src="./imagens/pandas.jpeg" width="200" />

Para trabalharmos com o pandas, precisamos importar a biblioteca, utilizando o comando:

In [1]:
import pandas as pd

A partir de agora, sempre que você utilizar ```pd.``` dentro do código, estará referenciado a biblioteca pandas.

### Carregando os Dados

Vamos iniciar com um arquivo CSV. A biblioteca Pandas carrega os dados em uma estrutura de dados própria, indexando cada linha, separando variáveis com delimitadores customizáveis, inferindo qual o tipo de dado de cada coluna, convertendo os dados (se necessário, por exemplo, texto para número), fazendo o tratamento de datas, valores ausentes e valores incorretos.

Para isso, utilizaremos uma base com o histórico de cotação das ações preferenciais da Petrobras no período de 07/03/2020 até 07/04/2020, que está no arquivo PETR4 Dados ``PETR4 Dados Históricos.csv``. Para tanto, utilizaremos os seguintes comandos:

In [3]:
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao, decimal=",")

O resultado é um objeto, chamado ``petr4``, que armazena um ``DataFrame`` Pandas. Note o uso de ``decimal=","`` para indicar que o arquivo está utilizando o separador decimal brasileiro.  Para ter uma ideia de sua estrutura, vamos imprimir as primeiras linhas do DataFrame, usando o seguinte comando para isso:

Um ``DataFrame`` Pandas possu é estrutura de dados tem algumas características que serão estudadas mais adiante. Por enquanto, basta saber que ela possui uma estrutura de matriz. Cada linha da matriz possui um índice, que aparece na coluna mais à esquerda. Cada coluna, possui um índice, que é o próprio nome da coluna. 

Se quiséssemos imprimir as últimas linhas do Data Frame ``petr4``, poderíamos usar a função ``tail``.

A função ``head``/``tail`` imprime a 5 primeiras/últimas linhas. É possível controlar o número de linhas impressas, passando um parâmetro. Por exemplo, vamos imprimir apenas as duas primeiras linhas.

In [4]:
petr4.head(2)

         Data  Último  Abertura  Máxima  Mínima     Vol.    Var%
0  11.11.2022   26.99     25.86   27.34   25.70  146,36M   3,33%
1  10.11.2022   26.12     26.08   26.89   25.61  145,47M  -2,90%

In [6]:
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao)
petr4.head(5)

         Data Último Abertura Máxima Mínima     Vol.    Var%
0  11.11.2022  26,99    25,86  27,34  25,70  146,36M   3,33%
1  10.11.2022  26,12    26,08  26,89  25,61  145,47M  -2,90%
2  09.11.2022  26,90    27,15  27,95  26,64  103,30M  -1,65%
3  08.11.2022  27,35    27,06  27,53  26,75   94,75M   0,74%
4  07.11.2022  27,15    27,96  28,30  27,07  117,21M  -4,06%

Se desejarmos visualizar apenas os nomes das colunas, podemos usar:

In [7]:
petr4.columns

Index(['Data', 'Último', 'Abertura', 'Máxima', 'Mínima', 'Vol.', 'Var%'], dtype='object')

In [8]:
datas = petr4['Data']
datas

0     11.11.2022
1     10.11.2022
2     09.11.2022
3     08.11.2022
4     07.11.2022
5     04.11.2022
6     03.11.2022
7     01.11.2022
8     31.10.2022
9     28.10.2022
10    27.10.2022
11    26.10.2022
12    25.10.2022
13    24.10.2022
14    21.10.2022
15    20.10.2022
16    19.10.2022
17    18.10.2022
18    17.10.2022
19    14.10.2022
20    13.10.2022
21    11.10.2022
22    10.10.2022
Name: Data, dtype: object

Note que, ao extaírmos os dados referenciados pela coluna ``Datas``, obtivemos um conjunto de valores em uma estrutura unidimensional. Cada um desses valores possuem um índice associado. No caso acima, os índices variam de 0 até 21. Essa estrutura de dados é fundamental para trabalharmos com Pandas e se chama `Series`. Então, vamos estudá-la.

### Series

Trata-se de um array de ```dados``` unidimensional, que possui um array de rótulos chamado ```index```. Cada elemento do array de dados possui uma associação com um elemento do *index*. Por exemplo, vamos criar uma série com um array contendo algumas ações da bolsa de valores de São Paulo.

In [9]:

serie_acoes = pd.Series(['Vale do Rio Doce', 'Petrobras', 'Usiminas'])
serie_acoes

0    Vale do Rio Doce
1           Petrobras
2            Usiminas
dtype: object

O índices são apresentados na coluna esquerda e os dados são mostrados na coluna direita. Nesse caso específico, como não definimos quais índices serão associados a cada dado, são utilizados valores inteiros, de 0 à N, para representar os índices. Porém, poderíamos definir os índices explicitamente.

No exemplo abaixo, os índices são *VALE3*, *PETR4* e *USIM5*. Eles foram explicitamente definidos.

In [16]:
serie_acoes = pd.Series(['Vale do Rio Doce', 'Petrobras', 'Usiminas'],index=['VALE3','PETR4','USIM5'])
serie_acoes

VALE3    Vale do Rio Doce
PETR4           Petrobras
USIM5            Usiminas
dtype: object

Para acessar os valores dos dados, utilizamos:

In [11]:
serie_acoes.values

array(['Vale do Rio Doce', 'Petrobras', 'Usiminas'], dtype=object)

Para acessar os valores dos índices, utilizamos:

In [12]:
serie_acoes.index

Index(['VALE3', 'PETR4', 'USIM5'], dtype='object')

Tanto o objeto Series quanto os seus índices possuem um atributo chamado ``name``:

In [13]:
serie_acoes.name = 'Ações'
serie_acoes.index.name = 'Símbolo'
serie_acoes

Símbolo
VALE3    Vale do Rio Doce
PETR4           Petrobras
USIM5            Usiminas
Name: Ações, dtype: object

É possível forçar a mudança dos índices por meio de atribuição:

In [14]:
serie_acoes.index = ['Idx1','Idx2','Idx3']
serie_acoes

Idx1    Vale do Rio Doce
Idx2           Petrobras
Idx3            Usiminas
Name: Ações, dtype: object

#### Operações básicas com Series
A seguir, apresentamos algumas operações básicas que podem ser realizadas utilizando Series.

##### Acessando dados

In [17]:
serie_acoes['PETR4']

'Petrobras'

In [18]:
serie_acoes[['VALE3','PETR4']]

VALE3    Vale do Rio Doce
PETR4           Petrobras
dtype: object

##### Filtrando dados

In [19]:
# cria a série
num = pd.Series([1,2,3,4,5,6],index=['n1','n2','n3','n4','n5','n6'])

# filtra números pares
par = num[num%2 == 0]

# filtra números impares
impar = num[num%2 != 0]

print('todos')
print(num)
print('pares:')
print(par)
print('impares:')
print(impar)

todos
n1    1
n2    2
n3    3
n4    4
n5    5
n6    6
dtype: int64
pares:
n2    2
n4    4
n6    6
dtype: int64
impares:
n1    1
n3    3
n5    5
dtype: int64

Vamos selecionar todas as datas armazenada na Series ``Datas``, que são menores que *07.03.2020*:

# Aqui está errado!

In [20]:
datas[datas<'07.03.2020']

5    04.11.2022
6    03.11.2022
7    01.11.2022
Name: Data, dtype: object

##### Operações escalares

In [21]:
mult = par * 2
mult

n2     4
n4     8
n6    12
dtype: int64

In [27]:
add = par + 2
add

n2    4
n4    6
n6    8
dtype: int64

In [28]:
### Transformando dicionário em Series
Para transformar um dicionário em uma série é bastante simples.

In [84]:
# criando o dicionário
dict_bolsa = {'VALE3': 42, 'PETR4': 16, 'USMI5': 5}
print(dict_bolsa)

{'VALE3': 42, 'PETR4': 16, 'USMI5': 5}

In [85]:
# transformando o dicionário em Series
series_bolsa = pd.Series(dict_bolsa)
print(series_bolsa)

VALE3    42
PETR4    16
USMI5     5
dtype: int64

Se durante a conversão de dicionário para Series utilizarmos índices que não tenham correspondência, o valor do índice ficará vazio na Série (veja o caso do índice ``BBAS3``). Se, por outro lado, utilizarmos um índice mais de uma vez duante a conversão, o valor associado ao índice aparecerá diversas mais de uma vez na Série (veja o caso de ``PETR4``).

In [86]:
# criando o dicionário
dict_bolsa = {'VALE3': 42, 'PETR4': 16, 'USMI5': 5}
series_bolsa = pd.Series(dict_bolsa,index=['PETR4','VALE3', 'PETR4', 'BBAS3', 'USIM5'])
print(series_bolsa)

PETR4    16.0
VALE3    42.0
PETR4    16.0
BBAS3     NaN
USIM5     NaN
dtype: float64

O símbolo ``NaN`` indica que o valor está faltando para ``BBAS``. A função ``isnull`` (retorna True se estiver faltando e False, caso contrário) ou ``notnul`` (retorna False se estiver faltando e True, caso contrário) podem ser utilizadas para saber quais são os valores faltando na Serie ou em um Data Frame. Mais adiante discutiremos como tratar com dados ausentes.

In [81]:
pd.isnull(series_bolsa)

VALE3    False
PETR4    False
PETR4    False
BBAS3     True
USIM5    False
dtype: bool

In [83]:
pd.notnull(series_bolsa)

PETR4     True
VALE3     True
PETR4     True
BBAS3    False
USIM5     True
dtype: bool

Vamos agora criar duas séries. Se somarmos as duas, os valores com índices iguais serão somados. Caso uma das séries contenha um valor ``NaN`` associado a um determinado índice (``USIM5``, na ``serie_bolsa1`` e ``BBAS3`` na ``serie_bolsa2``), o resultado da soma para esse índice será ``NaN``. O mesmo acontecerá se o índice não tiver um índice correspondente para ser somado na outra série (``BBAS3``, na ``serie_bolsa2`` não tem um correspondente na ``serie_bolsa1``).

In [101]:
# criação e impressão da série 1 (USIM5 não terá valor)
dict_bolsa1 = {'VALE3': 42, 'PETR4': 16}
series_bolsa1 = pd.Series(dict_bolsa1,index=['PETR4','VALE3', 'USIM5'])
print('series_bolsa1')
print(series_bolsa1)

# criação e impressão da série 2 (BBAS3 não terá valor)
dict_bolsa2 = {'VALE3': 50, 'PETR4': 20, 'USIM5': 8}
series_bolsa2 = pd.Series(dict_bolsa2,index=['PETR4','VALE3', 'USIM5','BBAS3'])
print('series_bolsa2')
print(series_bolsa2)

# cálculo do preço médio das ações 
# USIM5 retornará NaN, pois não tem um valor correspondente na série 1
# BBAS3 retornará NaN, pois seu valor é NaN na série 2
preco_medio = (series_bolsa1 + series_bolsa2)/2
print('preco_medio')
print(preco_medio)

series_bolsa1
PETR4    16.0
VALE3    42.0
USIM5     NaN
dtype: float64
series_bolsa2
PETR4    20.0
VALE3    50.0
USIM5     8.0
BBAS3     NaN
dtype: float64
preco_medio
BBAS3     NaN
PETR4    18.0
USIM5     NaN
VALE3    46.0
dtype: float64

Para saber mais sobre ``Series``, acesse a documentação do Pandas em: 

https://pandas.pydata.org/pandas-docs/stable/reference/series.html

### DataFrame

Um DataFrame é uma estrutura de dados similar a uma planilha, com linhas e colunas indexadas. Cada coluna é ordenada e pode conter armazena valores de um determinado tipo. Vamos retornar ao arquivo com as cotações da Petrobras.

In [108]:
import pandas as pd
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao)
petr4.head()

         Data Último Abertura Máxima Mínima     Vol.    Var%
0  07.04.2020  16,66    15,77  16,98  15,77        -   5,64%
1  06.04.2020  15,77    16,05  16,10  15,18  122,54M   2,80%
2  03.04.2020  15,34    16,30  16,36  14,93  142,01M  -1,10%
3  02.04.2020  15,51    15,40  16,55  15,01  233,81M   8,46%
4  01.04.2020  14,30    13,45  14,55  13,32  113,48M   2,22%

*Obs:* todas as colunas devem ter tamanhos iguais.

Pode-se pensar em um DataFrame como um Dicionário de Series.

In [110]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data)
petr4

         Data  Último  Abertura  Máxima  Mínima
0  07.04.2020   16.66     15.77   16.98   15.77
1  06.04.2020   15.77     16.05   16.10   15.18
2  03.05.2020   15.34     16.30   16.36   14.93
3  02.04.2020   15.51     15.40   16.55   15.01

É possível selecionar um subconjunto das colunas e apresentá-las na ordem desejada:

In [111]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data, columns=['Abertura','Último','Data'])
petr4

   Abertura  Último        Data
0     15.77   16.66  07.04.2020
1     16.05   15.77  06.04.2020
2     16.30   15.34  03.05.2020
3     15.40   15.51  02.04.2020

Caso seja selecionada para apresentação uma coluna inexistente, os valores para essa coluna serão todos nulos (NaN):

In [112]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data, columns=['Data','Abertura','Último','Percentual'])
petr4

         Data  Abertura  Último Percentual
0  07.04.2020     15.77   16.66        NaN
1  06.04.2020     16.05   15.77        NaN
2  03.05.2020     16.30   15.34        NaN
3  02.04.2020     15.40   15.51        NaN

Assim como fizemos com a Series, podemos modificar os nomes dos índices:

In [120]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4_data, index=['Primeiro','Segundo','Terceiro','Quarto'])
petr4

                Data  Último  Abertura
Primeiro  07.04.2020   16.66     15.77
Segundo   06.04.2020   15.77     16.05
Terceiro  03.05.2020   15.34     16.30
Quarto    02.04.2020   15.51     15.40

Se desejarmos atribuir um nome a aos índices ou colunas, basta utilizar o atributo ``name``

In [156]:
# atribuindo o nome às colunas
petr4.columns.name = 'Cabeçalho'

# atribuindo o nome aos índices
petr4.index.name = 'Índices'

petr4

Cabeçalho        Data  Último  Abertura
Índices
Primeiro   07.04.2020   16.66     15.77
Segundo    06.04.2020   15.77     16.05
Terceiro   03.05.2020   15.34     16.30
Quarto     02.04.2020   15.51     15.40

Os valores de uma coluna podem ser acessados utilizando a notação de Series ou a notação de atributos:

In [157]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4_data, index=['Primeiro','Segundo','Terceiro','Quarto'])

# acessando com notação de uma série
petr4['Último']

Primeiro    16.66
Segundo     15.77
Terceiro    15.34
Quarto      15.51
Name: Último, dtype: float64

In [158]:
# acessando com notação de atributo
petr4.Último

Primeiro    16.66
Segundo     15.77
Terceiro    15.34
Quarto      15.51
Name: Último, dtype: float64

É possível acessar os dados em uma linha utilizando o método ``loc`` para índices rotulados ou ``iloc`` para índices posicionais:

In [159]:
# índice rotulado
petr4.loc['Segundo']

Data        06.04.2020
Último           15.77
Abertura         16.05
Name: Segundo, dtype: object

In [160]:
# índice posicional
petr4.iloc[1]

Data        06.04.2020
Último           15.77
Abertura         16.05
Name: Segundo, dtype: object

Para acessar apenas os valores, podemos usar o atributo ``values``, que retorna os dados em forma de array bidimensional:

In [161]:
petr4.values

array([['07.04.2020', 16.66, 15.77],
       ['06.04.2020', 15.77, 16.05],
       ['03.05.2020', 15.34, 16.3],
       ['02.04.2020', 15.51, 15.4]], dtype=object)

Colunas podem ser modificadas por meio de atribuição de um valor escalar ou uma lista com tamanho igual ao do DataFrame:

In [162]:
# atribuindo valor escalar
petr4['Último'] = 17.55
petr4

                Data  Último  Abertura
Primeiro  07.04.2020   17.55     15.77
Segundo   06.04.2020   17.55     16.05
Terceiro  03.05.2020   17.55     16.30
Quarto    02.04.2020   17.55     15.40

In [163]:
# atribuindo array
petr4['Último'] = [17.55, 16.67, 14.00, 15.78]
petr4

                Data  Último  Abertura
Primeiro  07.04.2020   17.55     15.77
Segundo   06.04.2020   16.67     16.05
Terceiro  03.05.2020   14.00     16.30
Quarto    02.04.2020   15.78     15.40

Utiliza-se o método `isin` para testar se um conjunto de valores pertence ao DataFrame.

In [171]:
petr4.isin([15.77, 14.00])

           Data  Último  Abertura
Primeiro  False   False      True
Segundo   False   False     False
Terceiro  False    True     False
Quarto    False   False     False

Também é possível atribuir uma Series a uma coluna de um DataFrame. Nesse, caso, porém, o tamanho da Series pode ser menor, havendo um casamento exato com os índices do DataFrame, deixando os demais índices sem valor (NaN):

In [66]:
petr4['Último'] = pd.Series([15.10, 14.90], index=['Primeiro', 'Terceiro'])
petr4

                Data  Abertura  Último
Primeiro  07.04.2020     15.77    15.1
Segundo   06.04.2020     16.05     NaN
Terceiro  03.05.2020     16.30    14.9
Quarto    02.04.2020     15.40     NaN

Realizar uma atribuição a uma coluna que não existe, cria um nova coluna:

In [74]:
petr4_data = { 'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
               'Último':[16.66, 15.77, 15.34, 15.51],
               'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4,index=['Primeiro','Segundo','Terceiro','Quarto'])

# Criará a coluna Máxima
petr4['Máxima'] = [18.20, 17.84, 16.71, 17.78]
petr4

                Data  Último  Abertura  Máxima
Primeiro  07.04.2020   16.66     15.77   18.20
Segundo   06.04.2020   15.77     16.05   17.84
Terceiro  03.05.2020   15.34     16.30   16.71
Quarto    02.04.2020   15.51     15.40   17.78

Assim como ocorre com um dicionário, ``del`` pode ser usado para remover uma coluna:

In [75]:
del petr4['Máxima']
petr4

                Data  Último  Abertura
Primeiro  07.04.2020   16.66     15.77
Segundo   06.04.2020   15.77     16.05
Terceiro  03.05.2020   15.34     16.30
Quarto    02.04.2020   15.51     15.40

Se passarmos um dicionário aninhado para um DataFrame, as chaves externas serão interpretadas como colunas e as chaves internas como índices das linhas.

In [92]:
petr4 = {   'Data':{'Primeiro':'07.04.2020', 'Segundo':'06.04.2020', 'Terceiro:':'03.05.2020'},
            'Último':{'Primeiro':16.66, 'Segundo':15.77},
            'Abertura':{'Primeiro':15.77, 'Segundo':16.05, 'Terceiro:':16.30}}
petr4 = pd.DataFrame(petr4)
petr4

                 Data  Último  Abertura
Primeiro   07.04.2020   16.66     15.77
Segundo    06.04.2020   15.77     16.05
Terceiro:  03.05.2020     NaN     16.30

Observe que a quantidade de elementos em cada dicionário interno pode ser diferente. Por exemplo, no código acima, a coluna ``Último`` não possui valor para o índice ``Terceiro``.

Para obter a matriz transposta, deve-se utilizar o atributo ``T``:

In [93]:
petr4.T

            Primeiro     Segundo   Terceiro:
Data      07.04.2020  06.04.2020  03.05.2020
Último         16.66       15.77         NaN
Abertura       15.77       16.05        16.3

A tabela a seguir apresenta a relação completa de tipos de dados que podem ser passados para o ``construtor`` DataFrame:

 
 | Tipo | Descrição |
 |------|:-----------|
 | **2D array** | *Uma matriz de dados, sendo opcional passar o rótulo das linhas e colunas.*|
 | **Lista de listas ou tuplas** | *Uma matriz de dados, sendo opcional passar o rótulo das linhas e colunas.*|
 | **Dicionário de arrays,  listas ou tuplas** | *Cada sequência se torna uma coluna no DataFrame. Todas as sequências devem ter o mesmo tamanho.*|
     | **Dicionário de Serie** | *Cada ``valor`` se torna uma ``coluna`` do DataFrame. Se nenhum índice for passado, as chaves posicionais dos elementos das Series para formar o índice do das linhas.*|
 | **Dicionário de Dicionários** | *Cada ``Dicionário interno`` se torna uma ``coluna`` do DataFrame. As chaves são unidas para formar o índice do das linhas.*|
 | **Lista de Dicionário ou Series** | *Cada item se torna uma ``linha`` do DataFrame. As chaves dos Dicionários ou os índices das Series se tornam o rótulo das ``colunas`` do DataFrame.*|

---



Para saber mais sobre ``DataFrame``, acesse a documentação do Pandas em:

https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

## Objeto Index

Todo array ou outra sequência de rótulos usada para construir uma Serie ou DataFrame é convertido internamente em um Objeto Index.

In [144]:
# criação da Series 
acoes = pd.Series([21.52, 52.34, 7.23],index=['PETR4','VALE3', 'USIM5'])
# acessando o objeto Index
acoes.index

Index(['PETR4', 'VALE3', 'USIM5'], dtype='object')

In [145]:
# acessando elementos do objeto Index
acoes.index[1:]

Index(['VALE3', 'USIM5'], dtype='object')

Os objeto Index é imutável e não pode ser modificado, pode apenas ser substituído completamente.

In [135]:
# tentando modificar o objeto Index
acoes.index[1] = 'BBAS3'

TypeError: Index does not support mutable operations

In [15]:
acoes1 = pd.Series([21.52, 52.34, 7.23, 20.32],index=['PETR4','VALE3', 'USIM5', 'LAME4'])
acoes2 = pd.Series([22.34, 51.33, 45.32],index=['PETR4','VALE3', 'BBAS3'])
acoes1.index ^ acoes2.index

Index(['BBAS3', 'LAME4', 'USIM5'], dtype='object')

Objetos Index possuem um conjunto de métodos, conforme resumido na tabela a seguir. Considere essas duas Series para os exemplos apresentados na tabela:
```python
acoes1 = pd.Series([21.52, 52.34, 7.23, 20.32],index=['PETR4','VALE3', 'USIM5', 'LAME4'])
acoes2 = pd.Series([22.34, 51.33, 45.32],index=['PETR4','VALE3', 'BBAS3'])
```

| Método | Descrição |
|--------|:-----------|
| **append** | Concatena dois objetos Index, produzindo um novo objeto Index. Ex: acoes1.index.append(acoes2.index) |
| **difference** | Computa o conjunto contendo todos os objetos do 1o objeto Index que não possuem correspondência no 2o objeto Index.  Ex: acoes1.index.difference(acoes2.index) |
| **^** | É a diferença simétrica. Computa o conjunto contendo todos os objetos do 1o objeto Index que não possuem correspondência no 2o objeto Index e vice-versa.  Ex: acoes1.index ^ acoes2.index |
| **intersection** | Computa o conjunto interseção entre dois objetos Index. Ex: acoes1.index.intersection(acoes2.index) |
| **&** | Computa o conjunto interseção entre dois objetos Index. Ex: acoes1.index & acoes2.index |
| **union** | Computa o conjunto união entre dois objetos Index. Ex: acoes1.index.union(acoes2.index) |
| **|** | Computa o conjunto união entre dois objetos Index. Ex: acoes1.index | acoes2.index |
| **isin** | Verifica se um conjunto de valores pertencem ao objeto Index. Ex: acoes.isin([14.66, 52.34]) |
| **delete** | Cria uma novo objeto Index sem o elemento com índice `i`. Ex: acoes.index.delete(1)|
| **drop** | Cria uma novo objeto Index sem os elemento passados como parâmetro. Ex:acoes1.drop(['VALE3', 'USIM5'])|
| **insert** | Cria uma novo objeto Index com um novo elemento `val` na posição `i`. Ex: acoes.index.insert(1,'BBAS3') |
| **ismonotonic** | Retorna True se cada elemento é maior ou igual ao elemento anterior. Ex: acoes2.is_monotonic |
| **is_unique** | Retorna True se o índice não possue nenhum valor duplicado. Ex: acoes1.is_unique |
| **unique** | Cria um array com todos os elementos não duplicados no índice. Ex: acoes1.unique |

In [9]:
savings = 800
tax = 0.08
time = 24
profit = savings * tax * 24
print('profit: ' + str(profit))
print('Total: ' + str(profit+savings))

profit: 1536.0
Total: 2336.0