# Pandas

Pandas é uma biblioteca de Python que facilita a manipulação, preparação e limpeza dos dados.

<img  src="./imgs/pandas.jpeg" width="200" />

- Pandas é orientada a objetos.

- Criamos estruturas de dados pela construção de instâncias de diferentes classes.

- As duas classes mais importantes de Pandas são:

    - `Series`
    - `DataFrame`
    
- Pandas segue a convenção de Java de começar o nome das classes com uma letra maiúscula, enquanto as instâncias em letras minúsculas.
  
- Geralmente, importamos o módulo de Pandas e o assinalamos com a versão reduzida do nome: `pd`.

Para importar a biblioteca, usamos o comando:

In [ ]:
import pandas as pd

A partir de agora, sempre que você utilizar `pd` dentro do código, estará referenciado a biblioteca pandas.

### Carregando os Dados

Vamos iniciar com um arquivo CSV. 

A biblioteca Pandas carrega os dados em uma estrutura de dados própria, indexando cada linha, separando variáveis com delimitadores customizáveis, inferindo qual o tipo de dado de cada coluna, convertendo os dados (se necessário, por exemplo, texto para número), fazendo o tratamento de datas, valores ausentes e valores incorretos.

Para isso, utilizaremos uma base com o histórico de cotação das ações preferenciais da Petrobras no período de 07/03/2020 até 07/04/2020, que está no arquivo PETR4 Dados ``PETR4 Dados Históricos.csv``. Para tanto, utilizaremos os seguintes comandos:

In [ ]:
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao, decimal=",")
type(petr4)

O resultado é um objeto, chamado ``petr4``, que armazena um ``DataFrame`` Pandas. Note o uso de ``decimal=","`` para indicar que o arquivo está utilizando o separador decimal brasileiro.  Para ter uma ideia de sua estrutura, vamos imprimir as primeiras linhas do DataFrame, usando o seguinte comando para isso:

In [ ]:
petr4.head(2)

Um ``DataFrame`` Pandas é estrutura de dados e tem algumas características que serão estudadas mais adiante. 

Por enquanto, basta saber que ela possui uma estrutura de matriz. Cada linha da matriz possui um índice, que aparece na coluna mais à esquerda. Cada coluna, possui um índice, que é o próprio nome da coluna. 

Se quiséssemos imprimir as últimas linhas do Data Frame ``petr4``, poderíamos usar a função ``tail``.

A função ``head``/``tail`` imprime a 5 primeiras/últimas linhas. É possível controlar o número de linhas impressas, passando um parâmetro. Por exemplo, vamos imprimir apenas as duas primeiras linhas.

In [ ]:
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao)
petr4.head(5)

Se desejarmos visualizar apenas os nomes das colunas, podemos usar:

In [ ]:
petr4.columns

In [ ]:
datas = petr4['Data']
datas

Note que, ao extrairmos os dados referenciados pela coluna ``Datas``, obtivemos um conjunto de valores em uma estrutura unidimensional. Cada um desses valores possuem um índice associado. No caso acima, os índices variam de 0 até 22. 

Essa estrutura de dados é fundamental para trabalharmos com Pandas e se chama `Series`.

### Series

Trata-se de uma lista (também chamado de array) de ```dados``` unidimensional, que possui um array de rótulos chamado ```index```. Cada elemento do array de dados possui uma associação com um elemento do *index*.

In [ ]:
data = [1, 2, 3, 4, 5] # Esta linha cria uma lista
my_series = pd.Series(data) # Esta linha cria uma instância do objeto Series de pandas, os índices são automaticamente gerados.
my_series2 = pd.Series(data, index=['a', 'b', 'c', 'd', 'e'])  # Parecido com o dicionário de Python, índices são definidos
print(my_series)
print(my_series2)

In [ ]:
%pip install matplotlib
import matplotlib
my_series.plot()

#### Criando uma Series de um dicionário

In [ ]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}
my_series = pd.Series(d)
my_series

#### Indexando e Fatiando uma Series com `[]` ou . 

- As séries podem ser acessadas usando a mesma sintaxe de listas e dicionários em Python.
- Usamos os rótulos no índice para acessar cada elemento.
- Também podemos usar o rótulo como um atributo `my_series.b`
- Podemos especificar um intervalo com `my_series[['b', 'c']]`

In [ ]:
print( my_series['b'])
print(my_series.b)
print(my_series[['b', 'c']])

#### Operações com Series

In [ ]:
dados_entrada = {'a' : 0., 'b' : 1., 'c' : 2.}

a = pd.Series(dados_entrada)
print('Imprimindo o array "a":\n', a)
print('==========================')

b1 = 10 * a
print('Multiplicando diretamente por 10:\n', b1)
print('==========================')

b2 = a.multiply(10)
print('Multiplicando por 10 usando a função:\n', b2)
print('==========================')

c1 = a + b1
print('Somando "a" e "b" diretamente:\n', c1)
print('==========================')

c2 = pd.Series.add(a, b1) 
print('Somando "a" e "b" com uma função:\n', c2)
print('==========================')

In [ ]:
sum_a = pd.Series.sum(a) 
print('Somando todos os elementos de "a":\n', sum_a)
print("==========================")

f = a ** 2 
print('square a:\n', f)
print('Elevando todos os elementos de "a" a dois:\n', sum_a)
print("==========================")

x = pd.Series({'a' : 0., 'b' : 1., 'c' : 2.})
y = pd.Series({'a' : 3., 'b' : 4., 'c' : 5.})
z = x + y
print('Adicionando duas Series:\n', z)
print("==========================")

### Séries Temporais (Time Series)

- Times Series em pandas associam tempos específicos com valores em cada linha

In [ ]:
dates = pd.date_range('1/1/2000', periods=5)
print(dates)

In [ ]:
time_series = pd.Series(data, index=dates)
time_series

#### Plotando uma Série Temporal

- Com os valores associados ao tempo, o comando `plot` pode ser usado para se obter uma visualização rápida na forma de um gráfico de linhas

In [ ]:
ax = time_series.plot()

In [ ]:
type(time_series)

##### Filtrando dados

In [ ]:
# cria a série
num = pd.Series([1, 2, 3, 4, 5, 6], index=['n1', 'n2', 'n3', 'n4', 'n5', 'n6'])

# filtra números pares
par = num[num % 2 == 0]

# filtra números impares
impar = num[num % 2 != 0]

print('todos')
print(num)
print('pares:')
print(par)
print('impares:')
print(impar)

Vamos selecionar todas as datas armazenada na Series ``Datas``, que são menores que *07.03.2020*:

# Aqui está errado!

In [ ]:
datas[datas<'07.03.2020']

# DataFrames

- O `pandas` fornece uma poderosa estrutura de dados chamada DataFrames (uma tradução possível seria Quadro de Dados, mas ninguém usa assim).

- É semelhante, mas não idêntico a:
     - uma tabela em um banco de dados relacional,
     - uma planilha Excel,
     - um dataframe em R.

- Um DataFrame tem várias colunas, cada uma das quais pode conter um tipo *diferente* de valor.

- Como uma série, possui um índice que fornece um rótulo para cada linha.

## Criando um DataFrame a partir de dados externos
- Os DataFrames podem ser lidos e gravados de/para:
     - consultas de banco de dados, tabelas de banco de dados
     - arquivos CSV
     - arquivos JSON
     - etc
    
- Esteja ciente de que os DataFrames ficam armazenados na memória:
     - Se você ler uma grande quantidade de dados, seu computador pode travar
     - Com big data, normalmente você leria um subconjunto ou resumo dos dados (ver mais sobre select statement)

## Criando um DataFrame a partir de estruturas de dados Python

- Os quadros de dados podem ser construídos a partir de outras estruturas de dados:
  - dicionário de listas
  - dicionário de dicionários
  - dicionário de Series
  - uma única Series
  - outro DataFrame

## Exemplo: Criando um DataFrame de Várias Séries
- Pandas codifica valores ausentes como `NaN` em vez de `None`
- A série deve ter chaves correspondentes para cada linha correspondente.

In [ ]:
d = {
        'x' : pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
        'y' : pd.Series([4.,  6., 7.], index=['a',  'c', 'd']),
        'z' : pd.Series([0.2, 0.3, 0.4], index=[ 'b', 'c', 'd'])
}
print(type(d))

df = pd.DataFrame(d)
print (df)

## Plotando DataFrames

- Ao plotar um DataFrame, cada coluna é plotada como sua própria série no mesmo gráfico.

- Os nomes das colunas são usados para rotular cada série.

- Os nomes das linhas (índice) são usados para rotular o eixo x.

In [ ]:
ax = df.plot()

## Funções e DataFrames

- Podemos fazer cálculos e funções com DataFrames como Series.
- As funções normalmente retornarão um DataFrames ou uma Serie, dependendo.
- Para fazer uma cópia, não defina dois DataFrames usando o comando de atribuição, usem o método copy: `df2= df.copy()`

In [ ]:
df2 = df.copy()
print(df, '\n', df2)

## Estatísticas resumidas
- Para obter estatísticas resumidas rapidamente sobre valores numéricos, use o método `describe`.
- Você receberá um aviso se houver valores ausentes.
- O resultado é em si um DataFrame, que podemos fatiar `dfstats.y['mean']`.

In [ ]:
dfstats=df.describe()
print(dfstats)
# Vejam a diferença de usar o interactive output
dfstats

## Acessando os rótulos de linha e coluna

- Os rótulos das linhas (índice) podem ser acessados através do `df.index`.
- Os rótulos das colunas podem ser acessados através de `df.columns`.

In [ ]:
print(df.index)
print(df.columns)

## Carregando arquivos com Pandas
- Sempre que você tiver um conjunto de dados com uma variedade de campos de vários tipos, carregá-lo no Pandas é uma boa estratégia.
- Você pode carregar de um arquivo local ou de um URL.

In [58]:
frame_iris = pd.read_csv('https://raw.githubusercontent.com/rpi-techfundamentals/spring2019-materials/master/input/iris.csv')
frame_iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

__________________________________________________

In [ ]:
serie_acoes = pd.Series(['Vale do Rio Doce', 'Petrobras', 'Usiminas'])
serie_acoes

O índices são apresentados na coluna esquerda e os dados são mostrados na coluna direita. Nesse caso específico, como não definimos quais índices serão associados a cada dado, são utilizados valores inteiros, de 0 à N, para representar os índices. Porém, poderíamos definir os índices explicitamente.

No exemplo abaixo, os índices são *VALE3*, *PETR4* e *USIM5*. Eles foram explicitamente definidos.

In [ ]:
serie_acoes = pd.Series(['Vale do Rio Doce', 'Petrobras', 'Usiminas'],index=['VALE3','PETR4','USIM5'])
serie_acoes

Para acessar os valores dos dados, utilizamos:

In [ ]:
serie_acoes.values

Para acessar os valores dos índices, utilizamos:

In [ ]:
serie_acoes.index

Tanto o objeto Series quanto os seus índices possuem um atributo chamado ``name``:

In [ ]:
serie_acoes.name = 'Ações'
serie_acoes.index.name = 'Símbolo'
serie_acoes

É possível forçar a mudança dos índices por meio de atribuição:

In [ ]:
serie_acoes.index = ['Idx1','Idx2','Idx3']
serie_acoes

#### Operações básicas com Series
A seguir, apresentamos algumas operações básicas que podem ser realizadas utilizando Series.

##### Acessando dados

In [ ]:
serie_acoes['PETR4']

In [ ]:
serie_acoes[['VALE3','PETR4']]

In [ ]:
### Transformando dicionário em Series
Para transformar um dicionário em uma série é bastante simples.

In [ ]:
# criando o dicionário
dict_bolsa = {'VALE3': 42, 'PETR4': 16, 'USMI5': 5}
print(dict_bolsa)

In [ ]:
# transformando o dicionário em Series
series_bolsa = pd.Series(dict_bolsa)
print(series_bolsa)

Se durante a conversão de dicionário para Series utilizarmos índices que não tenham correspondência, o valor do índice ficará vazio na Série (veja o caso do índice ``BBAS3``). Se, por outro lado, utilizarmos um índice mais de uma vez duante a conversão, o valor associado ao índice aparecerá diversas mais de uma vez na Série (veja o caso de ``PETR4``).

In [ ]:
# criando o dicionário
dict_bolsa = {'VALE3': 42, 'PETR4': 16, 'USMI5': 5}
series_bolsa = pd.Series(dict_bolsa,index=['PETR4','VALE3', 'PETR4', 'BBAS3', 'USIM5'])
print(series_bolsa)

O símbolo ``NaN`` indica que o valor está faltando para ``BBAS``. A função ``isnull`` (retorna True se estiver faltando e False, caso contrário) ou ``notnul`` (retorna False se estiver faltando e True, caso contrário) podem ser utilizadas para saber quais são os valores faltando na Serie ou em um Data Frame. Mais adiante discutiremos como tratar com dados ausentes.

In [ ]:
pd.isnull(series_bolsa)

In [ ]:
pd.notnull(series_bolsa)

Vamos agora criar duas séries. Se somarmos as duas, os valores com índices iguais serão somados. Caso uma das séries contenha um valor ``NaN`` associado a um determinado índice (``USIM5``, na ``serie_bolsa1`` e ``BBAS3`` na ``serie_bolsa2``), o resultado da soma para esse índice será ``NaN``. O mesmo acontecerá se o índice não tiver um índice correspondente para ser somado na outra série (``BBAS3``, na ``serie_bolsa2`` não tem um correspondente na ``serie_bolsa1``).

In [ ]:
# criação e impressão da série 1 (USIM5 não terá valor)
dict_bolsa1 = {'VALE3': 42, 'PETR4': 16}
series_bolsa1 = pd.Series(dict_bolsa1,index=['PETR4','VALE3', 'USIM5'])
print('series_bolsa1')
print(series_bolsa1)

# criação e impressão da série 2 (BBAS3 não terá valor)
dict_bolsa2 = {'VALE3': 50, 'PETR4': 20, 'USIM5': 8}
series_bolsa2 = pd.Series(dict_bolsa2,index=['PETR4','VALE3', 'USIM5','BBAS3'])
print('series_bolsa2')
print(series_bolsa2)

# cálculo do preço médio das ações 
# USIM5 retornará NaN, pois não tem um valor correspondente na série 1
# BBAS3 retornará NaN, pois seu valor é NaN na série 2
preco_medio = (series_bolsa1 + series_bolsa2)/2
print('preco_medio')
print(preco_medio)

Para saber mais sobre ``Series``, acesse a documentação do Pandas em: 

https://pandas.pydata.org/pandas-docs/stable/reference/series.html

### DataFrame

Um DataFrame é uma estrutura de dados similar a uma planilha, com linhas e colunas indexadas. Cada coluna é ordenada e pode conter armazena valores de um determinado tipo. Vamos retornar ao arquivo com as cotações da Petrobras.

In [ ]:
import pandas as pd
nome_acao = 'PETR4 Dados Históricos.csv'
petr4 = pd.read_csv(nome_acao)
petr4.head()

*Obs:* todas as colunas devem ter tamanhos iguais.

Pode-se pensar em um DataFrame como um Dicionário de Series.

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data)
petr4

É possível selecionar um subconjunto das colunas e apresentá-las na ordem desejada:

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data, columns=['Abertura','Último','Data'])
petr4

Caso seja selecionada para apresentação uma coluna inexistente, os valores para essa coluna serão todos nulos (NaN):

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40],
                'Máxima':[16.98, 16.10, 16.36, 16.55],
                'Mínima':[15.77, 15.18, 14.93, 15.01]}
petr4 = pd.DataFrame(petr4_data, columns=['Data','Abertura','Último','Percentual'])
petr4

Assim como fizemos com a Series, podemos modificar os nomes dos índices:

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4_data, index=['Primeiro','Segundo','Terceiro','Quarto'])
petr4

Se desejarmos atribuir um nome a aos índices ou colunas, basta utilizar o atributo ``name``

In [ ]:
# atribuindo o nome às colunas
petr4.columns.name = 'Cabeçalho'

# atribuindo o nome aos índices
petr4.index.name = 'Índices'

petr4

Os valores de uma coluna podem ser acessados utilizando a notação de Series ou a notação de atributos:

In [ ]:
petr4_data = {  'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
                'Último':[16.66, 15.77, 15.34, 15.51],
                'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4_data, index=['Primeiro','Segundo','Terceiro','Quarto'])

# acessando com notação de uma série
petr4['Último']

In [ ]:
# acessando com notação de atributo
petr4.Último

É possível acessar os dados em uma linha utilizando o método ``loc`` para índices rotulados ou ``iloc`` para índices posicionais:

In [ ]:
# índice rotulado
petr4.loc['Segundo']

In [ ]:
# índice posicional
petr4.iloc[1]

Para acessar apenas os valores, podemos usar o atributo ``values``, que retorna os dados em forma de array bidimensional:

In [ ]:
petr4.values

Colunas podem ser modificadas por meio de atribuição de um valor escalar ou uma lista com tamanho igual ao do DataFrame:

In [ ]:
# atribuindo valor escalar
petr4['Último'] = 17.55
petr4

In [ ]:
# atribuindo array
petr4['Último'] = [17.55, 16.67, 14.00, 15.78]
petr4

Utiliza-se o método `isin` para testar se um conjunto de valores pertence ao DataFrame.

In [ ]:
petr4.isin([15.77, 14.00])

Também é possível atribuir uma Series a uma coluna de um DataFrame. Nesse, caso, porém, o tamanho da Series pode ser menor, havendo um casamento exato com os índices do DataFrame, deixando os demais índices sem valor (NaN):

In [ ]:
petr4['Último'] = pd.Series([15.10, 14.90], index=['Primeiro', 'Terceiro'])
petr4

Realizar uma atribuição a uma coluna que não existe, cria um nova coluna:

In [ ]:
petr4_data = { 'Data':['07.04.2020', '06.04.2020', '03.05.2020', '02.04.2020'],
               'Último':[16.66, 15.77, 15.34, 15.51],
               'Abertura':[15.77, 16.05, 16.30, 15.40]}
petr4 = pd.DataFrame(petr4,index=['Primeiro','Segundo','Terceiro','Quarto'])

# Criará a coluna Máxima
petr4['Máxima'] = [18.20, 17.84, 16.71, 17.78]
petr4

Assim como ocorre com um dicionário, ``del`` pode ser usado para remover uma coluna:

In [ ]:
del petr4['Máxima']
petr4

Se passarmos um dicionário aninhado para um DataFrame, as chaves externas serão interpretadas como colunas e as chaves internas como índices das linhas.

In [ ]:
petr4 = {   'Data':{'Primeiro':'07.04.2020', 'Segundo':'06.04.2020', 'Terceiro:':'03.05.2020'},
            'Último':{'Primeiro':16.66, 'Segundo':15.77},
            'Abertura':{'Primeiro':15.77, 'Segundo':16.05, 'Terceiro:':16.30}}
petr4 = pd.DataFrame(petr4)
petr4

Observe que a quantidade de elementos em cada dicionário interno pode ser diferente. Por exemplo, no código acima, a coluna ``Último`` não possui valor para o índice ``Terceiro``.

Para obter a matriz transposta, deve-se utilizar o atributo ``T``:

In [ ]:
petr4.T

A tabela a seguir apresenta a relação completa de tipos de dados que podem ser passados para o ``construtor`` DataFrame:

 
 | Tipo | Descrição |
 |------|:-----------|
 | **2D array** | *Uma matriz de dados, sendo opcional passar o rótulo das linhas e colunas.*|
 | **Lista de listas ou tuplas** | *Uma matriz de dados, sendo opcional passar o rótulo das linhas e colunas.*|
 | **Dicionário de arrays,  listas ou tuplas** | *Cada sequência se torna uma coluna no DataFrame. Todas as sequências devem ter o mesmo tamanho.*|
 | **Dicionário de Serie** | *Cada ``valor`` se torna uma ``coluna`` do DataFrame. Se nenhum índice for passado, as chaves posicionais dos elementos das Series para formar o índice do das linhas.*|
 | **Dicionário de Dicionários** | *Cada ``Dicionário interno`` se torna uma ``coluna`` do DataFrame. As chaves são unidas para formar o índice do das linhas.*|
 | **Lista de Dicionário ou Series** | *Cada item se torna uma ``linha`` do DataFrame. As chaves dos Dicionários ou os índices das Series se tornam o rótulo das ``colunas`` do DataFrame.*|

---



Para saber mais sobre ``DataFrame``, acesse a documentação do Pandas em:

https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

## Objeto Index

Todo array ou outra sequência de rótulos usada para construir uma Serie ou DataFrame é convertido internamente em um Objeto Index.

In [ ]:
# criação da Series 
acoes = pd.Series([21.52, 52.34, 7.23],index=['PETR4','VALE3', 'USIM5'])
# acessando o objeto Index
acoes.index

In [ ]:
# acessando elementos do objeto Index
acoes.index[1:]

Os objeto Index é imutável e não pode ser modificado, pode apenas ser substituído completamente.

In [ ]:
# tentando modificar o objeto Index
acoes.index[1] = 'BBAS3'

In [ ]:
acoes1 = pd.Series([21.52, 52.34, 7.23, 20.32],index=['PETR4','VALE3', 'USIM5', 'LAME4'])
acoes2 = pd.Series([22.34, 51.33, 45.32],index=['PETR4','VALE3', 'BBAS3'])
acoes1.index ^ acoes2.index

Objetos Index possuem um conjunto de métodos, conforme resumido na tabela a seguir. Considere essas duas Series para os exemplos apresentados na tabela:
```python
acoes1 = pd.Series([21.52, 52.34, 7.23, 20.32],index=['PETR4','VALE3', 'USIM5', 'LAME4'])
acoes2 = pd.Series([22.34, 51.33, 45.32],index=['PETR4','VALE3', 'BBAS3'])
```

| Método | Descrição |
|--------|:-----------|
| **append** | Concatena dois objetos Index, produzindo um novo objeto Index. Ex: acoes1.index.append(acoes2.index) |
| **difference** | Computa o conjunto contendo todos os objetos do 1o objeto Index que não possuem correspondência no 2o objeto Index.  Ex: acoes1.index.difference(acoes2.index) |
| **^** | É a diferença simétrica. Computa o conjunto contendo todos os objetos do 1o objeto Index que não possuem correspondência no 2o objeto Index e vice-versa.  Ex: acoes1.index ^ acoes2.index |
| **intersection** | Computa o conjunto interseção entre dois objetos Index. Ex: acoes1.index.intersection(acoes2.index) |
| **&** | Computa o conjunto interseção entre dois objetos Index. Ex: acoes1.index & acoes2.index |
| **union** | Computa o conjunto união entre dois objetos Index. Ex: acoes1.index.union(acoes2.index) |
| **|** | Computa o conjunto união entre dois objetos Index. Ex: acoes1.index | acoes2.index |
| **isin** | Verifica se um conjunto de valores pertencem ao objeto Index. Ex: acoes.isin([14.66, 52.34]) |
| **delete** | Cria uma novo objeto Index sem o elemento com índice `i`. Ex: acoes.index.delete(1)|
| **drop** | Cria uma novo objeto Index sem os elemento passados como parâmetro. Ex:acoes1.drop(['VALE3', 'USIM5'])|
| **insert** | Cria uma novo objeto Index com um novo elemento `val` na posição `i`. Ex: acoes.index.insert(1,'BBAS3') |
| **ismonotonic** | Retorna True se cada elemento é maior ou igual ao elemento anterior. Ex: acoes2.is_monotonic |
| **is_unique** | Retorna True se o índice não possue nenhum valor duplicado. Ex: acoes1.is_unique |
| **unique** | Cria um array com todos os elementos não duplicados no índice. Ex: acoes1.unique |

In [ ]:
savings = 800
tax = 0.08
time = 24
profit = savings * tax * 24
print('profit: ' + str(profit))
print('Total: ' + str(profit+savings))